<nav class="navbar bg-light">
    <a class="navbar-brand">SQLite Admin</a>
    <a href="/settings"><i class="fas fa-cog fa-2x float-right"></i></a>
</nav>

<div class="container-fluid mt-2">
    <h3 class="text-center">Databases</h3>

    {{#each errors as |error|}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/each}}

    <div id="container">

    </div>

    <script src="/react/viewDatabases.js"></script>
</div>
